/* ----- Fonts ----- */
@font-face{
	font-family: roboto-medium;
	src: url('../fonts/Roboto-Medium.ttf');
}

@font-face{
	font-family: roboto-thin;
	src: url('../fonts/Roboto-Thin.ttf');
}


.borderradius{
	text-align: center;
	border: 1px solid #ddd;
	background: #e7e7e7;
	padding-bottom: 40px;
}

h2{
	font-size: 27px;
	font-family: roboto-medium;
}

h3{
	font-size: 20px;
	font-family: roboto-thin;
}